@font-face {
    font-family: OS-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OS-Light;
    src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: OS-Bold;
    src: url('fonts/OpenSans-Bold.ttf');
}

body {
    font-size: 12px;
    font-family: OS-Light;
    margin: 0px;
}
#app {
    width: inherit;
    height: inherit;
}
#count {
    margin-top:60px;
}
header {
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
}

header > h3 {
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    font-family: OS-Light;
    font-size: 1.5em;
    display: inline-block;
    flex-grow: 1;
}

header a.add {
  font-size: 30px;
  margin: 16px 8px 0 0;
  text-decoration: none;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  line-height: 33px;
  background-color: red;
  color: white;
}

header > h3 > small {
    color: #efefef;
    letter-spacing: 2px;
    font-family: OS-Light;
}
.header-footer-bg {
    background-color: #333;
}

ul {
  list-style: none;
  padding: 0px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

ul li {
  font-size: 16px;
  color: #666;
  width: 95%;
  border: 1px solid #eee;
  border-top: 1px;
  border-right: 0px;
  border-left: 0px;
  padding: 8px 0 8px 12px;  
  min-height: 22px;
}

ul li:first-of-type {
  border-top: 1px;
}

ul li input[type=checkbox]  {
  float: right;
}

ul li.editing {
  padding: 0px;
}

ul li.editing input {
  padding : padding: 8px 0 8px 12px;
  width: 100%;
  min-height: 22px;
  font-size: 15px;
}
